
.vs/project/FileContentIndex/1cc61026-76a7-488e-8735-77b22fd44ab6.vsidx
*.v2
*.vsidx
*.v2
/ProdAPI/bin
/.vs/project/DesignTimeBuild
/.vs/project/DesignTimeBuild
/.vs/project/DesignTimeBuild
/ProdAPI/bin
